* {

    padding: 0;
    margin: 0;
}

#preloader {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 100;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-image: url(https://cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-origin: center;
}

.sinpadding [class*="col-"] {
    padding: 0;
    margin: 0;
}



.foot {
    color: darkgreen;
    text-decoration: none; 
}

.separador {
    background-color: rgba(249, 178, 77, 1);
    height: 5rem;
    color: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: "TT Lakes Black";
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
}

@font-face {
    font-family: "TT Lakes Regular";
    src: url("./font-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes Medium";
    src: url("./font-medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes Bold";
    src: url("./font-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

.carousel-inner{
    width: 100%;
    height: 100%;
    padding: 0px;
}


.carousel-item {
    width: 100%;
    height: 100%;
    background: no-repeat center center scroll;
    flex-direction: column;
   
}

@font-face {
    font-family: "TT Lakes Black";
    src: url("./font-black.ttf") format("truetype");
    font-weight: black;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    font-family: "TT Lakes Medium", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-attachment: fixed;
    background-image: url(./background.jpg);
    background-position: center;
    background-size: cover;
    margin-left:0px;
    margin-right: 0px;
    margin-top:0px;
    margin-bottom: 0px;
}

header#header {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    z-index: 9;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

header#header figure {
    width: 12%;
    margin: 2.5vh 0 1.5vh 0;
}


section#first-view {
    width: 100%;
    height: 95%;
    display: block;
    flex-direction: column;
    overflow: hidden;
}

section#first-view a {
    padding-top: 3rem;
    width: 100%;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.95);
    transition: all 0.2s ease-in-out;
    font-size: 135%;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    font-family: "TT Lakes Medium";
    text-decoration: none;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    filter: grayscale(0.3);
}




section#first-view a span {
    display: block;
    flex-direction: column;
}

section#first-view a:nth-child(1) {
    background: url(./img/Slide-SEMBRA-7000.jpg);
}

section#first-view a:nth-child(2) {
    background: url(./img/Slide-SEMBRA-BLACKOUT-EXTERIOR.jpg);
}

section#first-view a:nth-child(3) {
    background: url(./img/Slide-SEMBRA-CRISTAL.jpg);
}

section#first-view a:nth-child(4) {
    background: url(./img/Slide-SEMBRA-MICROPERFORADO.jpg);
}

section#first-view a:nth-child(5) {
    background: url(./img/Slide-SEMBRA-SCREEN-EXTERIOR.jpg);
}

section#first-view a:hover {
    filter: grayscale(0);
    cursor: pointer;
    font-size: 140%;
}

section#first-view a strong {
    font-family: "TT Lakes black";
}

section#s4000,
section#s7000,
section#s11000,
section#microperforado,
section#screen-exterior {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background: white;
    height: 100vh;
    overflow: hidden;
}
section#s4000 article,
section#s7000 article,
section#s11000 article,
section#microperforado article,
section#screen-exterior article {
    width: 50%;
    text-align: left;
    font-size: 90%;
}

section#screen-exterior article {
    background: rgba(0,0,0,.05);
}

section#s4000 article h2,
section#s7000 article h2,
section#s11000 article h2,
section#microperforado article h2,
section#screen-exterior article h2 {
    text-align: center;
    font-size: 350%;
    color: rgba(249, 178, 77, 1);
    margin-top: 10vh;
    font-family: "TT Lakes Black", Tahoma, Geneva, Verdana, sans-serif;
}

section#s4000 article h2 small,
section#s7000 article h2 small,
section#s11000 article h2 small,
section#microperforado article h2 small,
section#screen-exterior article h2 small {
    color: rgba(0, 0, 0, 0.6);
}

section#s4000 article table,
section#s7000 article table,
section#s11000 article table,
section#microperforado article table,
section#screen-exterior article table {
    margin: 0 auto;
    padding: 2vh;
    box-sizing: border-box;
}

section#s4000 article table tbody,
section#s7000 article table tbody,
section#s11000 article table tbody,
section#microperforado article table tbody,
section#screen-exterior article table tbody {
    font-size: 90%;
}

section#s4000 article table tbody tr td,
section#s7000 article table tbody tr td,
section#s11000 article table tbody tr td,
section#microperforado article table tbody tr td,
section#screen-exterior article table tbody tr td {
    border-bottom: px solid rgba(249, 178, 77, 0.6) !important;
    padding: 0.4vh;
    color: rgba(0, 0, 0, 0.6);
}
/*  SE TERMINA SEMBRA 7000 */


td.colors-container {
    display: flex;
    flex-wrap: wrap;
    width: 16vw;
    justify-content: space-between;
}

span.color-button,
span.color-button-4,
span.color-button-11,
span.color-button-microperforado,
span.color-button-screen-exterior {
    width: 30px;
    height: 30px;
    margin: 0.3vh 0;
    border-radius: 100%;
    border: solid 4px rgba(255, 255, 255, 0);
    opacity: 0.3;
}




/*  sembra11000 */

span#sembra11000-b {
    background: rgb(213,222,227);
}

span#sembra11000-vo {
    background: rgb(7,85,81);
}

span#sembra11000-g {
    background: rgb(121,131,140);
}

span#sembra11000-ao {
    background: rgb(33,60,93);
}

span#sembra11000-vc {
    background: rgb(23,174,153);
}

span#sembra11000-n {
    background: rgb(58,58,63);
}

span#sembra11000-ac {
    background: rgb(34,102,172);
}

span#sembra11000-r {
    background: rgb(193,21,11);
}

span#sembra11000-a {
    background: rgb(253,225,125)
    ;
}
 
/*  sembra7000 */
span.color-button-screen-exterior {
    border: solid 2px rgb(0, 0, 0) !important;
}


span#sembra7000-na {
    background:rgb(235,112,47);
}

span#sembra7000-vo {
    background: rgba(46, 111, 113, 1);
}

span#sembra7000-vm {
    background: rgb(65,52,40);
}

span#sembra7000-vc {
    background: rgba(3, 155, 134, 1);
}

span#sembra7000-a {
    background: rgba(160, 211, 212, 1);
}

span#sembra7000-ao {
    background: rgba(19, 68, 117, 1);
}

span#sembra7000-ac {
    background: rgba(56, 114, 185, 1);
}

span#sembra7000-af {
    background: rgba(71, 119, 148, 1);
}

span#sembra7000-ga {
    background: rgba(135, 171, 185, 1);
}

span#sembra7000-go {
    background: rgba(122, 118, 117, 1);
}

span#sembra7000-gc {
    background: rgba(235, 230, 227, 1);
}

span#sembra7000-b {
    background: rgba(239, 229, 227, 1);
}

span#sembra7000-n {
    background: rgba(221, 202, 185, 1);
}

span#sembra7000-ap {
    background: rgba(233, 217, 165, 1);
}

span#sembra7000-d {
    background: rgba(213, 162, 145, 1);
}

span#sembra7000-m {
    background: rgba(209, 173, 115, 1);
}

span#sembra7000-t {
    background: rgb(149, 59, 51);
}

span#sembra7000-g {
    background: rgba(116, 50, 61, 1);
}

span#sembra7000-negro {
    background: rgba(31, 36, 42, 1);
}


/* Sembra 4000 */ 
span#sembra4000-vo {
    background:rgb(35,86,71) !important;
}

span#sembra4000-b {
    background: rgb(207,207,206);
}

span#sembra4000-g {
    background:rgb(98,96,97);
}

span#sembra4000-n {
    background: rgb(26,26,26);
}




section#s4000 article table tbody tr td span,
section#s7000 article table tbody tr td span,
section#s11000 article table tbody tr td span,
section#microperforado article table tbody tr td span,
section#screen-exterior article table tbody tr td span {
    cursor: pointer;
    transition: all 0.26s ease-in-out;
    transform: scale(1);
}


section#s4000 article table tbody tr td span:hover,
section#s7000 article table tbody tr td span:hover,
section#s11000 article table tbody tr td span:hover,
section#microperforado article table tbody tr td span:hover,
section#screen-exterior article table tbody tr td span:hover {
    color: black;
}

td.tabla-clave {
    font-weight: 500;
    color: black !important;
    padding-right: 2vw !important;
}

section#s4000 figure,
section#s7000 figure,
section#s11000 figure,
section#microperforado figure,
section#screen-exterior figure {
    margin: 0;
    width: 50%;
    margin-bottom: -0.5rem;
}


section#s4000 figure img,
section#s7000 figure img,
section#s11000 figure img,
section#microperforado figure img,
section#screen-exterior figure img {
    width: 100%;
}

/*
section#screen-exterior figure img {
    transform: translateY(-25%);
}
*/
.button-color-active-11 {
    border: solid 2px rgb(0, 0, 0) !important;
    opacity: 9 !important;
}
.button-color-active {
    border: solid 2px rgb(0, 0, 0) !important;
    opacity: 9 !important;
}

span#microperforado-azul {
    background: rgba(56, 114, 185, 1);
}

span#microperforado-teja {
    background: rgb(149, 59, 51);
}

span#microperforado-marron {
    background: #67403A;
}

span#microperforado-negro {
    background: rgb(0, 0, 0);
}

span#microperforado-verde {
    background: #013220;
}

span#microperforado-gris {
    background: 	#808080;
}

span#microperforado-mostaza {
    background: #FFDB58;
}

span#microperforado-natural {
    background: rgba(233, 217, 165, 1);
}

span#screen-exterior-blanco {
    background: rgba(255, 255, 255, 1);
}

span#screen-exterior-beige {
    background: rgb(243 224 213);
}

span#screen-exterior-gris {
    background: gray;
}

span#screen-exterior-marron-beige {
    background: linear-gradient(to right, #f2e9d1 0%,#f2e9d1 50%,#2c1c12 51%,#2c1c12 100%);
}

span#screen-exterior-marron-negro {
    background: linear-gradient(to right, #212f32 0%,#212f32 50%,#2c1c12 51%,#2c1c12 100%);
}

span#screen-exterior-negro-gris {
    background: linear-gradient(to right, #1b262d 0%,#1b262d 50%,#9ab0b5 51%,#9ab0b5 100%);
}

section#blackout-exterior {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 100vh;
    overflow: hidden;
}

section#blackout-exterior article {
    width: 50%;
    text-align: left;
    font-size: 90%;
}

section#blackout-exterior article h2 {
    text-align: center;
    font-size: 350%;
    color: rgba(249, 178, 77, 1);
    margin-top: 5vh;
    font-family: "TT Lakes Black", Tahoma, Geneva, Verdana, sans-serif;
}

section#blackout-exterior article h2 small {
    color: rgba(0, 0, 0, 0.6);
}

section#blackout-exterior article table {
    margin: 0 auto;
    padding: 2vh;
    box-sizing: border-box;
}

section#blackout-exterior article table tbody {
    font-size: 90%;
}

section#blackout-exterior article table tbody tr td {
    border-bottom: 1px solid rgba(249, 178, 77, 0.6) !important;
    padding: 0.4vh;
    color: rgba(0, 0, 0, 0.6);
}

section#blackout-exterior article table tbody tr td span {
    cursor: pointer;
    transition: all 0.26s ease-in-out;
    transform: scale(1);
}

section#blackout-exterior article table tbody tr td span:hover {
    color: black;
}

section#blackout-exterior figure {
    margin: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    /*background: url(./blackoutexterior.jpg);*/
    background-attachment: fixed;
}

section#blackout-exterior figure img {
    height: 100%;
    width: auto;
}

section#cristal {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 100vh;
    overflow: hidden;
}

section#cristal article {
    width: 50%;
    text-align: left;
    font-size: 90%;
}

section#cristal article h2 {
    text-align: center;
    font-size: 350%;
    color: rgba(249, 178, 77, 1);
    margin-top: 5vh;
    font-family: "TT Lakes Black", Tahoma, Geneva, Verdana, sans-serif;
}

section#cristal article h2 small {
    color: rgba(0, 0, 0, 0.6);
}

section#cristal article h4 {
    text-align: center;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.6);
}

section#cristal article h4 strong {
    font-size: 120%;
}

section#cristal article h5 {
    text-align: center;
    color: rgba(249, 178, 77, 1);
    font-size: 115%;
    margin-top: 2vh;
}

section#cristal article table {
    margin: 0 auto;
    padding: 2vh;
    box-sizing: border-box;
}

section#cristal article table {
    margin: 0 auto;
    padding: 2vh;
    box-sizing: border-box;
    transition: all 0.26s ease-in-out;
}

section#cristal article table tbody {
    font-size: 90%;
}

section#cristal article table tbody tr td {
    border-bottom: 1px solid rgba(249, 178, 77, 0.6) !important;
    padding: 0.4vh;
    color: rgba(0, 0, 0, 0.6);
}

section#cristal article table tbody tr td span {
    cursor: pointer;
    transition: all 0.26s ease-in-out;
    transform: scale(1);
}

section#cristal article table tbody tr td span:hover {
    color: black;
}

section#cristal figure {
    margin: 0;
    width: 50%;
    overflow: hidden;
}

section#cristal figure img {
    height: auto;
    width: 100%;
}



.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

#prev {
    opacity: 0;
    transform: translateX(6vw);
    cursor: pointer;
}

#next {
    opacity: 1;
    transform: translateX(-6vw);
    cursor: pointer;
}

button.nav-cristal-btn {
    background: rgba(0, 0, 0, 0.6);
    border: 0;
    height: 40px;
    width: 40px;
    font-weight: 600;
    border-radius: 100%;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.26s ease-in-out;
}

section#organization {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

section#organization hgroup {
    margin-bottom: 5vh;
}

section#organization hgroup h2 {
    font-family: "TT Lakes Bold", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    letter-spacing: 8px;
    color: rgba(249, 178, 77, 1);
}

section#organization p {
    color: rgba(255, 255, 255, 0.8);
    margin: 1vh auto;
    font-size: 125%;
    width: 55%;
}

section#contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#contact h2 {
    font-size: 200%;
    color: rgba(255, 255, 255, 0.75);
    font-family: "TT Lakes Black", Tahoma, Geneva, Verdana, sans-serif;
}

section#contact div#form p {
    margin: 2vh auto;
    width: 35vw;
}

section#contact div#form p label {
    display: block;
    text-align: left;
    font-size: 95%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0.5vh;
}

section#contact div#form p input {
    width: 100%;
    padding: 1.5vh;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
}

section#contact div#form p textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 15vh;
    max-height: 15vh;
    padding: 1.5vh;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
}

section#contact div#form p button#submitButton {
    width: 35%;
    padding: 2vh;
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    border-radius: 10vh;
    font-weight: 600;
    margin-top: 2vh;
    border: 0;
    cursor: pointer;
}


.navbar {
    font-family: "TT Lakes Black", Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}

/* Celulares */
@media only screen and (min-device-width: 0px) and (max-device-width: 1025px) {
    /* Styles */

    .container{
        padding:0;
        margin:0;
    }

    header#header {
        flex-direction: column;
    }

    .separador {
        font-size: 0.6rem;
        height: 3rem;
    }

    header#header figure {
        width: 50%;
        margin: 2vh auto;
    }

    nav#menu-principal {
        width: 100%;
        overflow-x: scroll;
        padding: 2vw;
        background: rgba(255, 255, 255, 0.05);
    }

    nav#menu-principal ul {
        width: 140%;
    }

    nav#menu-principal ul li a {
        margin: 0 2vw;
        font-size: 80%;
    }

    nav#menu-principal ul li a:hover {
        margin: 0 2vw;
        font-size: 80%;
    }

    /*  */

    section#first-view {
        height: 100%;
    }

    section#first-view a {
        width: 100%;
        height: 100vw;
        box-sizing: border-box;
        font-size: 120%;
        background-size: cover !important;
    }

    section#first-view a:nth-child(1) {
        background-attachment: scroll;
        background-image: url(./img/Slide-SEMBRA-11000-mobile.jpg);
    }

    section#first-view a:nth-child(1) {
        background-attachment: scroll;
        background-image: url(./img/Slide-SEMBRA-7000-mobile.jpg);
    }



    section#first-view a:nth-child(2) {
        background-attachment: scroll;
        background-image: url(./img/Slide-SEMBRA-BLACKOUT-EXTERIOR-mobile.jpg);
    }

    section#first-view a:nth-child(3) {
        background-attachment: scroll;
        background-image: url(./img/Slide-SEMBRA-CRISTAL-mobile.jpg);
    }

    section#first-view a:nth-child(4) {
        background-attachment: scroll;
        background-image: url(./img/Slide-SEMBRA-MICROPERFORADO-mobile.jpg);
    }

    section#first-view a:nth-child(5) {
        background-attachment: scroll;
        background-image: url(./img/Slide-SEMBRA-SCREEN-EXTERIOR-mobile.jpg);
    }

    section#s4000,
    section#s7000,
    section#screen-exterior {
        flex-direction: column;
        height: auto;
    }
    section#s4000,
    section#s11000 {
        flex-direction: column-reverse;
        height: auto;
    }

    section#microperforado {
        flex-direction: column-reverse;
        height: auto;
    }

    section#s4000 article,
    section#s7000 article,
    section#s11000 article,
    section#microperforado article,
    section#screen-exterior article {
        width: auto;
        font-size: 75%;
        margin: 6vw 0 0;
    }

    section#s4000 article h2,
    section#s7000 article h2,
    section#s11000 article h2,
    section#microperforado article h2,
    section#screen-exterior article h2 {
        margin-bottom: 0;
    }

    section#screen-exterior article h2 {
        display: flex;
        flex-direction: column;
    }

    td.tabla-clave {
        width: 50%;
    }

    td.colors-container {
        width: auto;
    }

    span.color-button {
        width: 18px;
        height: 18px;
    }

    section#s4000 figure,
    section#s7000 figure,
    section#s11000 figure,
    section#microperforado figure,
    section#screen-exterior figure {
        width: 100%;
        overflow: hidden;
    }
/*
    section#screen-exterior figure {
        margin-bottom: -35%;
    }
*/
    section#screen-exterior td.colors-container {
        justify-content: flex-start;
    }

    section#blackout-exterior {
        flex-direction: column-reverse;
        height: auto;
    }

    section#blackout-exterior figure {
        width: 100%;
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: initial;
    }

    section#blackout-exterior article {
        width: auto;
        font-size: 75%;
        margin: 6vw 0 0;
    }

    section#cristal {
        height: auto;
        flex-wrap: wrap;
    }

    button.nav-cristal-btn {
        width: 20px;
        height: 20px;
    }

    section#cristal article {
        width: 80%;
        font-size: 75%;
        margin: 6vw auto 0; 
    }

    section#cristal figure {
        width: 100%;
    }

    section#organization {
        height: auto;
        padding: 6vh 0 2vh;
    }

    section#organization p {
        width:90%;
        font-size: 80%;
        align-items: center;
    }

    section#contact {
        height: auto;
        padding: 6vh 0;
    }

    section#contact div#form p {
        width: 80%;
    }

    section#contact div#form p input,
    section#contact div#form p textarea {
        box-sizing: border-box;
    }
}

/* 1366*768 
*/
@media only screen and (min-device-width: 1100px) and (max-device-width: 100%) {

    .container{
        width: 100%;
        padding:0;
        margin:0;
    }

    section#first-view a {
        font-size: 160%;
    }

    section#first-view a:hover {
        font-size: 170%;
    }

    span.color-button {
        width: 25px;
        padding: 0.25rem;
        height: 25px;
    }
}

@media only screen and (min-device-width: 576px) and (max-device-width: 100%) {
    .container{
        width: 100%;
        padding:0;
        margin: 0;
    }
    section#first-view a {
        font-size: 160%;
    }

    section#first-view a:hover {
        font-size: 170%;
    }

    span.color-button {
        width: 25px;
        height: 25px;
    }
} 
input,
button,
submit {
    border: none;
    outline: none;
}
